<label for="fecha"><b>Fecha:</b></label>
<input class="inp-form__fecha" type="date" id="fecha" name="fecha" />

<label for="regional"><b>Regional:</b></label>
<select class="inp-from__Regional" id="regional" name="regional">
  <option value="">Todas</option>
  <option value="CUCUTA">CUCUTA</option>
  <option value="PAMPLONA">PAMPLONA</option>
  <option value="OCAÑA">OCAÑA</option>
  <option value="TIBU">TIBU</option>
  <option value="TTIBU-PUEBLOS">TTIBU-PUEBLOS</option>
  <option value="AGUACHICA">AGUACHICA</option>
</select>

<button class="btn-from_filtrar" type="submit">Buscar</button>
