<div class="navbar">
  <img src="/css/inmel.ico" alt="Logo" />
  <div class="menu">
    <a href="/">Registro</a>
    <% if (typeof user !== 'undefined' && user) { %>
      <a href="/listado">Pendientes</a>
      <a href="/informacion">Atendidos</a>
      <a href="/descargarExcel">Descargar Excel</a> <!-- Botón de descarga solo visible para usuarios autenticados -->
      <a href="/logout">X</a>
    <% } else { %>
      <a href="/login">Ingresar</a>
    <% } %>
  </div>
</div>