<div class="navbar">
  <img src="/img/inmel.ico" alt="Logo" />
  <div class="menu">
    <a class="nav-Registro" href="/">Registro</a>
    <% if (typeof user !== 'undefined' && user) { %>
      <a class="nav-lisado" href="/listado">Pendientes</a>
      <a class="nav-info" href="/informacion">Atendidos</a>
      <a class="nav-descargarExcel" href="/descargarExcel">Descargar Excel</a> <!-- Botón de descarga solo visible para usuarios autenticados -->
      <a class="nav-btn__cerrar" href="/logout">X</a>
    <% } else { %>
      <a class="nav-login" href="/login">Ingresar</a>
    <% } %>
  </div>
</div>