<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Información</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>

  <div class="navbar">
    <img src="../public/css/inmel.ico" alt="Logo" />
    <div class="menu">
      <a href="/">Inicio</a>
      <a href="/listado">Listado</a>
      <a href="/informacion">Información</a>
    </div>
  </div>


  <h1>Información</h1>
  <p>Aquí puedes poner información relevante sobre el sistema.</p>

</body>
</html>
