<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>Iniciar Sesi칩n</title>
    <link rel="stylesheet" href="/css/body.css" />
    <link rel="stylesheet" href="/css/navbar.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!-- Incluir la barra de navegaci칩n -->
    <%- include('components/navbar', { user: user }) %>
    <main>
      <div class="cont-login">
        <div class="login-container">
          <div class="logo-title">
            <img src="/img/inmel.ico" alt="Logo" />
            <h1>Iniciar Sesi칩n</h1>
          </div>

          <form action="/login" method="POST">
            <input
              class="inpName"
              type="text"
              name="username"
              placeholder="Usuario"
              required
            />
            <input
              type="password"
              name="password"
              placeholder="Contrase침a"
              required
            />
            <button type="submit">Ingresar</button>
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
