.Card-Ver {
  width: 70rem;
  height: 500px;
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: grid;
  place-content: center;
  /* background-color: green; */
}

/* .Card-Ver img {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0.8rem;
    height: auto;
    object-fit: cover;
  } */

.container-ver {
  margin-top: 5rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Card-Ver {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.Card-Ver img {
  width: 25rem;
  height: 25rem;
  margin: 1rem;
  border-radius: 0.7rem;
}

.cont-datos--ver {
  width: 25rem;
  height: 8rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 1rem;
}

.VerInfo {
  width: 100%;
  /* background: pink; */
  display: grid;
  place-content: center;
}

.datosVer {
  width: 400px;
  margin: 5px;
  text-align: left;
}
.container-ver h2 {
  width: 90%;
  padding: 1rem;
  background-color: #202020;
  color: white;
  border-radius: 0.7rem;
}
textarea {
  width: 100%; /* Ancho completo del contenedor */
  height: 200px; /* Altura fija */
  resize: none; /* Desactivar redimensionamiento */
  box-sizing: border-box; /* Para incluir el padding y borde en el tamaño total */
  padding: 10px; /* Espacio interior */
  font-size: 16px; /* Tamaño de fuente */
  border-radius: 1rem;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

/* Estilos para teléfonos (ancho máximo de 768px) */
@media only screen and (max-width: 768px) {
  .Card-Ver {
    width: 370px;
    height: 500px;
    margin-top: 3rem;
    margin-bottom: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .Card-Ver img {
    width: 300px;
    height: 250px;
    margin-top: 0px;
    margin-bottom: 0.8rem;
    height: auto;
    /* background: pink; */
    border-radius: 0.2rem;
  }
  .datosVer {
    width: 350px;
    margin: 5px;
    text-align: left;
  }

  textarea {
    width: 100%; /* Ancho completo del contenedor */
    height: 150px; /* Altura fija */
    margin-top: 1rem;
    resize: none; /* Desactivar redimensionamiento */
    box-sizing: border-box; /* Para incluir el padding y borde en el tamaño total */
    padding: 10px; /* Espacio interior */
    font-size: 16px; /* Tamaño de fuente */
    border-radius: 1rem;
  }

  .cont-datos--ver {
    width: 18rem;
    height: 15rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;
    border: none;
    border-radius: none;
  }
}
